
# Rust
/target/
**/*.rs.bk
Cargo.lock
.idea/

# Flutter
/flutter/build/
/flutter/ios/Flutter/App.framework
/flutter/ios/Flutter/Flutter.framework
/flutter/ios/Pods/
/flutter/macos/Pods/
/flutter/android/.gradle/
/flutter/android/app/build/
/flutter/.dart_tool/
/flutter/.packages
/flutter/pubspec.lock

# FFI
/platform/**/*.a
/platform/**/*.so
/platform/**/*.dylib
/platform/**/*.dll

# Local tooling
/.tooling/
